srch_test
s.pdf
Makefile
Makefile.in
*.o
*~
aclocal.m4
config.*
configure
depcomp
install-sh
*.la
*.lo
libtool
ltmain.sh
missing
mkinstalldirs
stamp-h1
autom4te.cache
.libs
.deps
autoscan.log
configure.scan
